<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeliveryOrgMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_delivery_org
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		delivery_org_code,	
		delivery_org_name,	
		user_id,	
		user_name,	
		user_tel,	
		user_address,	
		type,	
		status,	
		store_sn,	
		store_name,	
		delivery_store_sn,	
		delivery_store_name,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		delivery_org_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{delivery_org_code},	
        #{delivery_org_name},	
        #{user_id},	
        #{user_name},	
        #{user_tel},	
        #{user_address},	
        #{type},	
        #{status},	
        #{store_sn},
        #{store_name},	
        #{delivery_store_sn},		
        #{delivery_store_name},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        delivery_org_code,	
		        delivery_org_name,	
		        user_id,	
		        user_name,	
		        user_tel,	
		        user_address,	
		        type,	
		        status,	
		        store_sn,
		        store_name,	
		        delivery_store_sn,					
		        delivery_store_name,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			delivery_org_id = #{delivery_org_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			delivery_org_code = #{delivery_org_code},
			delivery_org_name = #{delivery_org_name},
			user_id = #{user_id},
			user_name = #{user_name},
			user_tel = #{user_tel},
			user_address = #{user_address},
			type = #{type},
			status = #{status},
			store_sn = #{store_sn},
			store_name = #{store_name},
			delivery_store_sn = #{delivery_store_sn},
			delivery_store_name = #{delivery_store_name},
			updateby = #{updateby},
			update_time = #{update_time},
		delivery_org_id = delivery_org_id
		where 
		delivery_org_id = #{delivery_org_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			delivery_org_id = #{delivery_org_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.delivery_org_code!= null and pd.delivery_org_code != ''"><!-- 关键词检索 -->
			and delivery_org_code = #{pd.delivery_org_code}
		</if>
		
		<if test="pd.delivery_org_name!= null and pd.delivery_org_name != ''"><!-- 关键词检索 -->
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
			and delivery_org_name  LIKE CONCAT(CONCAT('%', #{pd.delivery_org_name}),'%')
		</if>
		order by create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 查询本人相关的配送组织 -->
	<select id="listAllByUserId" parameterType="pd" resultType="pd">
		select
			pdo.delivery_org_code,	
			pdo.delivery_org_name,	
			pdo.user_id,	
			pdo.user_name,	
			pdo.user_tel,	
			pdo.user_address,	
			pdo.type,	
			pdo.status,	
			pdo.store_sn,	
			pdo.store_name,	
			pdo.delivery_store_sn,	
			pdo.delivery_store_name,	
			pdo.createby,	
			pdo.create_time,	
			pdo.updateby,	
			pdo.update_time,	
			pdo.delivery_org_id
		from 
			pgt_delivery_org pdo
		inner join pgt_delivery_member pdm on pdo.delivery_org_id = pdm.delivery_org_id
		where pdm.user_id = #{user_id}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			delivery_org_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>