<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsQuantityLineMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_goods_quantity_line
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		sku_id,	
		store_id,	
		min_quantity,	
		max_quantity,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		goods_quantity_line_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{sku_id},	
        #{store_id},	
        #{min_quantity},	
        #{max_quantity},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        sku_id,	
		        store_id,	
		        min_quantity,	
		        max_quantity,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			goods_quantity_line_id = #{goods_quantity_line_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			sku_id = #{sku_id},
			store_id = #{store_id},
			min_quantity = #{min_quantity},
			max_quantity = #{max_quantity},
			createby = #{createby},
			create_time = #{create_time},
			updateby = #{updateby},
			update_time = #{update_time},
		goods_quantity_line_id = goods_quantity_line_id
		where 
		goods_quantity_line_id = #{goods_quantity_line_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			goods_quantity_line_id = #{goods_quantity_line_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="pd.sku_id!= null and pd.sku_id != ''"><!-- 关键词检索 -->
			and
				(
					sku_id = #{pd.sku_id}
				)
		</if>
		order by create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<select id="selectQuantityLine" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where sku_id = #{sku_id} and store_id = #{store_id}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			goods_quantity_line_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>