<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InboundNoticeMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_inbound_notice
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		inbound_notice_code,	
		bill_type,	
		purchase_code,	
		purchase_detail_id,	
		pre_arrival_time,	
		arrival_time,	
		store_sn,	
		store_name,	
		status,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		inbound_notice_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{inbound_notice_code},	
        #{bill_type},	
        #{purchase_code},	
        #{purchase_detail_id},	
        #{pre_arrival_time},	
        #{arrival_time},	
        #{store_sn},	
        #{store_name},	
        #{status},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        inbound_notice_code,	
		        bill_type,	
		        purchase_code,	
		        purchase_detail_id,	
		        pre_arrival_time,	
		        arrival_time,	
		        store_sn,	
		        store_name,	
		        status,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time		
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 更新状态 -->
	<update id="update" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			status = #{status},
			updateby = #{updateby},
			update_time = #{update_time},
			<if test="arrival_time!= null ">
				arrival_time = #{arrival_time},
			</if>
		inbound_notice_id = inbound_notice_id
		where 
		inbound_notice_id = #{inbound_notice_id}
	</update>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			inbound_notice_id = #{inbound_notice_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			arrival_time = #{arrival_time},
		inbound_notice_id = inbound_notice_id
		where 
		inbound_notice_id = #{inbound_notice_id}
	</update>
	<!-- 通过Code获取数据 -->
	<select id="findByCode" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			inbound_notice_code = #{inbound_notice_code}
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			inbound_notice_id = #{inbound_notice_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		and store_sn in 
		<foreach item="item" index="index" collection="pd.my_store" open="(" separator="," close=")">  
		  #{pd.my_store[${index}]}
		</foreach> 
		<if test="pd.sh_direct_sales_code!= null and pd.sh_direct_sales_code != ''">
			and inbound_notice_code = #{pd.sh_direct_sales_code}
		</if>
		
		<if test="pd.sh_purchase_code!= null and pd.sh_purchase_code != ''">
			and purchase_code = #{pd.sh_purchase_code}
		</if>
		
		<if test="pd.store_sn_name!= null and pd.store_sn_name != ''">
			and 
			(
					store_sn LIKE CONCAT(CONCAT('%', #{pd.store_sn_name}),'%')
					 or 
					store_name LIKE CONCAT(CONCAT('%', #{pd.store_sn_name}),'%') 
				)
		</if>
		
		<if test="pd.sh_type!= null and pd.sh_type != ''">
			and bill_type = #{pd.sh_type}
		</if>
		
		<if test="pd.sh_status!= null and pd.sh_status != ''">
			and status = #{pd.sh_status}
		</if>
		
		<if test="pd.store_sn!= null and pd.store_sn != ''">
			and 
			(
				store_sn = #{pd.store_sn}
			)
		</if>
		
		order by create_time desc
	</select>
		
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			inbound_notice_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!--  -->
	<select id="listByNoticesIds" parameterType="string" resultType="pd">
		select * from pgt_inbound 
		where inbound_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</select>
	
	<!-- 列表 -->
	<select id="listForCheck" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		and store_sn in 
		<foreach item="item" index="index" collection="pd.my_store" open="(" separator="," close=")">  
		  #{pd.my_store[${index}]}
		</foreach> 
		<if test="pd.sh_direct_sales_code!= null and pd.sh_direct_sales_code != ''">
			and inbound_notice_code = #{pd.sh_direct_sales_code}
		</if>
		
		<if test="pd.sh_purchase_code!= null and pd.sh_purchase_code != ''">
			and purchase_code = #{pd.sh_purchase_code}
		</if>
		
		<if test="pd.store_sn_name!= null and pd.store_sn_name != ''">
			and 
			(
					store_sn LIKE CONCAT(CONCAT('%', #{pd.store_sn_name}),'%')
					 or 
					store_name LIKE CONCAT(CONCAT('%', #{pd.store_sn_name}),'%') 
				)
		</if>
		
		<if test="pd.sh_type!= null and pd.sh_type != ''">
			and bill_type = #{pd.sh_type}
		</if>
		
		<if test="pd.sh_status!= null and pd.sh_status != ''">
			and status = #{pd.sh_status}
		</if>
		
		<if test="pd.store_sn!= null and pd.store_sn != ''">
			and 
			(
				store_sn = #{pd.store_sn}
			)
		</if>
		and (bill_type=1 or bill_type=2) 
		order by create_time desc
	</select>
	<!-- fh313596790qq(青苔) -->
</mapper>