<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InboundDetailMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_inbound_detail
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		inbound_code,	
		purchase_code,	
		purchase_detail_id,	
		inbound_notice_code,	
		notice_detail_id,	
		sku_id,	
		sku_name,
		sku_encode,
		spec,	
		quantity,	
		status,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		inbound_detail_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{inbound_code},	
        #{purchase_code},	
        #{purchase_detail_id},	
        #{inbound_notice_code},	
        #{notice_detail_id},	
        #{sku_id},	
        #{sku_name},
        #{sku_encode},
        #{spec},	
        #{quantity},	
        #{status},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="inbound_detail_id">
		insert into 
	<include refid="tableName"></include>
		(
		        inbound_code,	
		        purchase_code,	
		        purchase_detail_id,	
		        inbound_notice_code,	
		        notice_detail_id,	
		        sku_id,	
		        sku_name,
		        sku_encode,
		        spec,	
		        quantity,	
		        status,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			inbound_detail_id = #{inbound_detail_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		<if test="inbound_code null and inbound_code != ''">
			inbound_code = #{inbound_code},
		</if>
		<if test="purchase_code null and purchase_code != ''">
			purchase_code = #{purchase_code},
		</if>
		<if test="purchase_detail_id null and purchase_detail_id != ''">
			purchase_detail_id = #{purchase_detail_id},
		</if>
		<if test="inbound_notice_code null and inbound_notice_code != ''">
			inbound_notice_code = #{inbound_notice_code},
		</if>
		<if test="notice_detail_id null and notice_detail_id != ''">
			notice_detail_id = #{notice_detail_id},
		</if>
		<if test="sku_id null and sku_id != ''">
			sku_id = #{sku_id},
		</if>
		<if test="sku_name null and sku_name != ''">
			sku_name = #{sku_name},
		</if>
		<if test="quantity null and quantity != ''">
			quantity = #{quantity},
		</if>
		<if test="status null and status != ''">
			status = #{status},
		</if>
		<if test="updateby null and updateby != ''">
			updateby = #{updateby},
		</if>
		<if test="update_time null and update_time != ''">
			update_time = #{update_time},
		</if>

		inbound_detail_id = inbound_detail_id
		where 
		inbound_detail_id = #{inbound_detail_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			inbound_detail_id = #{inbound_detail_id}
	</select>
	

	<select id="datalistPage" parameterType="page" resultType="pd">
  select 
  inbound_detail_id,
 inbound_code,
   pid.sku_name,
            sgs.sku_encode, 
            sg.spec,
         pid.quantity,
         sg.unit_name,
         sg.attr_cate
  from 
  pgt_inbound_detail pid 
  left join szy_goods_sku_6 sgs on pid.sku_id = sgs.sku_id
  left join szy_goods_6 sg on sg.goods_id = sgs.goods_id
  where 1=1
  <if test="pd.inbound_code!= null and pd.inbound_code != ''">
   and
    (
     pid.inbound_code = #{pd.inbound_code}
    )
  </if>
 </select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			inbound_detail_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
	<insert id="saveBatch" parameterType="pd">
	
	INSERT INTO pgt_inbound_detail
(
               inbound_code,	
		purchase_code,	
		purchase_detail_id,	
		inbound_notice_code,	
		notice_detail_id,	
		sku_id,	
		sku_name,	
		quantity,	
		STATUS,	
		createby,	
		create_time,	
		updateby,	
		update_time
)
SELECT 
#{inbound_code},scrap_code,scrap_detail_id,'',0,sku_id,sku_name,audit_quantity,0,#{createby},NOW(),#{updateby},NOW()
FROM pgt_scrap_detail
WHERE scrap_code=#{scrap_code}
	
	</insert>
	
	
	   <!-- 物流仓库的入库单 -->
		<insert id="saveBatchAllocLogistic" parameterType="pd">
	
	INSERT INTO pgt_inbound_detail
(
               inbound_code,	
		purchase_code,	
		purchase_detail_id,	
		inbound_notice_code,	
		notice_detail_id,	
		sku_id,	
		sku_name,
		sku_encode,
		spec,	
		quantity,	
		STATUS,	
		createby,	
		create_time,	
		updateby,	
		update_time
)
SELECT 
#{inbound_code},allocation_code,allocation_detail_id,'',0,sku_id,sku_name,sku_encode,spec,quantity,0,#{createby},NOW(),#{updateby},NOW()
FROM pgt_allocation_detail
WHERE allocation_code=#{allocation_code}
	
	
	</insert>

		<select id="listByInboundCode" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			inbound_code = #{inbound_code}
	</select>
	
	<select id="findAllByInBoundNoticeCode" parameterType="pd" resultType="pd">
		select * from pgt_inbound_detail where inbound_code = #{inbound_code}
	</select>
	
	<select id="queryByPurchaseCode" parameterType="pd" resultType="pd">
	select
		<include refid="Field"></include>
	from
		<include refid="tableName"></include>
	where
		purchase_code = #{purchase_code}
	</select>
	
	<select id="queryInboundDetilByCode" parameterType="pd" resultType="pd">
		select 
			otd.inbound_code,		
			otd.quantity,	
			gs.sku_encode,
			gs.sku_name,
			gs.sku_barcode,
			g.spec,	
			g.unit_name
		from 
			pgt_inbound_detail otd
		left join 
			szy_goods_sku_6 gs on otd.sku_id = gs.sku_id
		left 
			join szy_goods_6 g on g.goods_id = gs.goods_id
		where inbound_code = #{inbound_code}
	</select>
	
	<!-- fh313596790qq(青苔) -->
</mapper>