<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MatchMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_match
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		match_id,	
		league_id,	
		league_name,	
		league_addr,	
		changci_id,	
		changci,	
		home_team_id,	
		home_team_name,	
		home_team_abbr,	
		home_team_rank,	
		visiting_team_id,	
		visiting_team_name,	
		visiting_team_abbr,	
		visiting_team_rank,	
		match_time,	
		show_time,	
		create_time,	
		is_show,	
		is_del,	
		match_sn,	
		first_half,	
		whole,	
		status,	
		is_hot
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{match_id},	
        #{league_id},	
        #{league_name},	
        #{league_addr},	
        #{changci_id},	
        #{changci},	
        #{home_team_id},	
        #{home_team_name},	
        #{home_team_abbr},	
        #{home_team_rank},	
        #{visiting_team_id},	
        #{visiting_team_name},	
        #{visiting_team_abbr},	
        #{visiting_team_rank},	
        #{match_time},	
        #{show_time},	
        #{create_time},	
        #{is_show},	
        #{is_del},	
        #{match_sn},	
        #{first_half},	
        #{whole},	
        #{status},	
        #{is_hot}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        match_id,	
		        league_id,	
		        league_name,	
		        league_addr,	
		        changci_id,	
		        changci,	
		        home_team_id,	
		        home_team_name,	
		        home_team_abbr,	
		        home_team_rank,	
		        visiting_team_id,	
		        visiting_team_name,	
		        visiting_team_abbr,	
		        visiting_team_rank,	
		        match_time,	
		        show_time,	
		        create_time,	
		        is_show,	
		        is_del,	
		        match_sn,	
		        first_half,	
		        whole,	
		        status,	
		        is_hot	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where  match_id = #{match_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			league_id = #{league_id},
			league_name = #{league_name},
			league_addr = #{league_addr},
			changci_id = #{changci_id},
			changci = #{changci},
			home_team_id = #{home_team_id},
			home_team_name = #{home_team_name},
			home_team_abbr = #{home_team_abbr},
			home_team_rank = #{home_team_rank},
			visiting_team_id = #{visiting_team_id},
			visiting_team_name = #{visiting_team_name},
			visiting_team_abbr = #{visiting_team_abbr},
			visiting_team_rank = #{visiting_team_rank},
			match_time = #{match_time},
			show_time = #{show_time},
			create_time = #{create_time},
			is_show = #{is_show},
			is_del = #{is_del},
			match_sn = #{match_sn},
			first_half = #{first_half},
			whole = #{whole},
			status = #{status},
			is_hot = #{is_hot}
		where 
		match_id = #{match_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			match_id = #{match_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
			SELECT
				a.* 
			FROM
				dl_match a 
			WHERE 1=1
		<if test="pd.match_team != null and pd.match_team != ''"> 
			AND a.home_team_abbr 
				LIKE CONCAT(CONCAT('%', #{pd.match_team}),'%')
			OR a.visiting_team_abbr 
				LIKE CONCAT(CONCAT('%', #{pd.match_team}),'%')
		</if>
		<if test="pd.match_id != null and pd.match_id != ''">
			and a.match_id  
				LIKE CONCAT(CONCAT('%', #{pd.match_id}),'%')
		</if>
		<if test="pd.status != null and pd.status != ''"> 
			and a.status = #{pd.status }
		</if>
		<if test="pd.lastStart1 != null and pd.lastStart1 != ''"> 
			and a.match_time &gt; #{pd.lastStart1}
		</if>
		<if test="pd.lastEnd1  != null and pd.lastEnd1 != ''"> 
			and a.match_time &lt; #{pd.lastEnd1 }
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		SELECT *FROM dl_match;
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
			where match_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>