<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PgtInboundPreNoticeDetailMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_inbound_pre_notice_detail
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		notice_detail_id,	
		inbound_pre_notice_code,	
		purchase_code,	
		purchase_detail_id,	
		sku_id,	
		sku_name,	
		sku_encode,	
		spec,	
		pre_arrival_quantity,	
		good_quantity,	
		bad_quantity,	
		bad_deal_type,	
		quality_status,	
		quality_time,	
		quality_id,	
		status,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		batch_code
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{notice_detail_id},	
        #{inbound_pre_notice_code},	
        #{purchase_code},	
        #{purchase_detail_id},	
        #{sku_id},	
        #{sku_name},	
        #{sku_encode},	
        #{spec},	
        #{pre_arrival_quantity},	
        #{good_quantity},	
        #{bad_quantity},	
        #{bad_deal_type},	
        #{quality_status},	
        #{quality_time},	
        #{quality_id},	
        #{status},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time},	
        #{batch_code}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        notice_detail_id,	
		        inbound_pre_notice_code,	
		        purchase_code,	
		        purchase_detail_id,	
		        sku_id,	
		        sku_name,	
		        sku_encode,	
		        spec,	
		        pre_arrival_quantity,	
		        good_quantity,	
		        bad_quantity,	
		        bad_deal_type,	
		        quality_status,	
		        quality_time,	
		        quality_id,	
		        status,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time,	
		        batch_code	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			notice_detail_id = #{notice_detail_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			inbound_pre_notice_code = #{inbound_pre_notice_code},
			purchase_code = #{purchase_code},
			purchase_detail_id = #{purchase_detail_id},
			sku_id = #{sku_id},
			sku_name = #{sku_name},
			sku_encode = #{sku_encode},
			spec = #{spec},
			pre_arrival_quantity = #{pre_arrival_quantity},
			bad_deal_type = #{bad_deal_type},
			quality_status = #{quality_status},
			quality_time = #{quality_time},
			quality_id = #{quality_id},
			status = #{status},
			createby = #{createby},
			create_time = #{create_time},
			updateby = #{updateby},
			update_time = #{update_time},
			batch_code = #{batch_code},
		notice_detail_id = notice_detail_id
		where 
		notice_detail_id = #{notice_detail_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			notice_detail_id = #{notice_detail_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		and inbound_pre_notice_code = #{pd.inbound_pre_notice_code}
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
		inbound_pre_notice_code = #{inbound_pre_notice_code}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from 
		<include refid="tableName"></include>
		where 
			notice_detail_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>