<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PgtOutboundDetailMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_outbound_detail
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		outbound_code,	
		purchase_code,	
		purchase_detail_id,	
		outbound_notice_code,	
		outbound_notice_detail_id,	
		sku_id,	
        sku_name,
        sku_encode,	
        spec,	
		quantity,	
		status,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		outbound_detail_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">	
        #{outbound_code},	
        #{purchase_code},	
        #{purchase_detail_id},	
        #{outbound_notice_code},	
        #{outbound_notice_detail_id},	
        #{sku_id},	
        #{sku_name},	
        #{sku_encode},
        #{spec},
        #{quantity},	
        #{status},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="outbound_detail_id">
		insert into 
	<include refid="tableName"></include>
		(
		        outbound_code,	
		        purchase_code,	
		        purchase_detail_id,	
		        outbound_notice_code,	
		        outbound_notice_detail_id,	
		        sku_id,	
		        sku_name,
                sku_encode,	
                spec,
		        quantity,	
		        status,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time
		) values (
	    #{outbound_code},	
        #{purchase_code},	
        #{purchase_detail_id},	
        #{outbound_notice_code},	
        #{outbound_notice_detail_id},	
        #{sku_id},	
        #{sku_name},	
        #{sku_encode},
        #{spec},
        #{quantity},	
        0,	
        #{createby},	
          NOW(),	
        #{updateby},	
         NOW()
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			outbound_detail_id = #{outbound_detail_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			outbound_code = #{outbound_code},
			purchase_code = #{purchase_code},
			purchase_detail_id = #{purchase_detail_id},
			outbound_notice_code = #{outbound_notice_code},
			outbound_notice_detail_id = #{outbound_notice_detail_id},
			sku_id = #{sku_id},
			quantity = #{quantity},
			status = #{status},
			createby = #{createby},
			create_time = #{create_time},
			updateby = #{updateby},
			update_time = #{update_time},
		outbound_detail_id = outbound_detail_id
		where 
		outbound_detail_id = #{outbound_detail_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			outbound_detail_id = #{outbound_detail_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		    pod.outbound_code,pod.outbound_detail_id, 
			pod.sku_name,
            pod.sku_encode,	
            pod.spec,
	        pod.quantity,
	        sg.unit_name,
	        sg.attr_cate
		from 
		pgt_outbound_detail pod 
		left join szy_goods_sku_6 sgs on pod.sku_id = sgs.sku_id
		left join szy_goods_6 sg on sg.goods_id = sgs.goods_id
		where 1=1
		<if test="pd.outbound_code!= null and pd.outbound_code != ''">
			and
				(
					pod.outbound_code = #{pd.outbound_code}
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			outbound_detail_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过outbound_code查询数据 -->
	<select id="findByOutBoudnDetilCode" parameterType="pd" resultType="pd">
		SELECT * FROM pgt_outbound_detail WHERE outbound_code = #{out_bound_code}
	</select>

	<select id="queryByPurchaseCode" parameterType="pd" resultType="pd">
	select
		<include refid="Field"></include>
	from
		<include refid="tableName"></include>
	where
		purchase_code = #{purchase_code}
	</select>
	
	<select id="queryOutboundDetilByCode" parameterType="pd" resultType="pd">
		select 
			isb.outbound_code,		
			isb.quantity,	
			gs.sku_encode,
			gs.sku_name,
			gs.sku_barcode,
			g.spec,	
			g.unit_name
		from 
			pgt_outbound_detail isb
		left join 
			szy_goods_sku_6 gs on isb.sku_id = gs.sku_id
		left 
			join szy_goods_6 g on g.goods_id = gs.goods_id
		where outbound_code = #{outbound_code}
	</select>
	<!-- fh313596790qq(青苔) -->
</mapper>