<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseReturnDetailMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_purchase_return_detail
	</sql>
	
	<sql id="pgt_purchase_detail">
		pgt_purchase_detail
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		purchase_return_code,	
		purchase_code,	
		status,	
		sku_id,	
		sku_encode,
		purchase_detail_id,
		sku_name,	
		return_quantity,	
		send_quantity,	
		quantity,	
		unit,	
		remark,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		return_detail_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{purchase_return_code},	
        #{purchase_code},	
        #{status},	
        #{sku_id},	
        #{sku_encode},	
        #{purchase_detail_id},	
        #{sku_name},	
        #{return_quantity},	
        #{send_quantity},	
        #{quantity},	
        #{unit},	
        #{remark},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        purchase_return_code,	
		        purchase_code,	
		        status,	
		        sku_id,	
		        sku_encode,
		        purchase_detail_id,
		        sku_name,	
		        return_quantity,	
		        send_quantity,	
		        quantity,	
		        unit,	
		        remark,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			return_detail_id = #{return_detail_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		<if test="send_quantity_add != null and send_quantity_add != ''">
		 send_quantity = send_quantity + #{send_quantity_add},
		</if>
		<if test="send_quantity != null and send_quantity != ''">
		 send_quantity = send_quantity ,
		</if>
		<if test="remark != null and remark != ''">
		 remark = remark ,
		</if>
			
		return_detail_id = return_detail_id
		where 
		return_detail_id = #{return_detail_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			return_detail_id = #{return_detail_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		and purchase_return_code = #{pd.purchase_return_code}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		and purchase_return_code = #{pd.purchase_return_code}
		and send_quantity > 0
		
	</select>
	<!-- 查询未发完货的记录-->
	<select id="queryNoCompletes" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		and purchase_return_code = #{pd.purchase_return_code}
		and send_quantity != return_quantity
		
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			return_detail_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
		<!-- 修改 -->
	<update id="editQuantity" parameterType="pd">
		UPDATE pgt_purchase_return_detail 
		SET 
		quantity=quantity+${quantity},
		updateby=#{updateby},
		update_time=NOW() 
		where 
		return_detail_id = #{return_detail_id}
	</update>
	
	<!-- fh313596790qq(青苔) -->
</mapper>