<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_purchase
	</sql>
	
	<!--关联查询表 -->
	<sql id="relationt_ableName">
		pgt_purchase p left join pgt_purchase_group g on p.purchase_group_id=g.purchase_group_id
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		p.purchase_id,	
		p.purchase_code,	
		p.supplier_sn,	
		p.supplier_name,	
		p.bill_type,	
		p.business_type,	
		p.purchase_date,	
		p.purchase_dep,	
		p.purchase_org,	
		p.status,	
		p.createby,	
		p.create_time,	
		p.updateby,	
		p.purchase_group_id,
		g.purchase_group_name,
		p.update_time,
		p.commit_time,
		p.commitby,
		p.complete_time,
		
		p.completeby,
		p.audit_time,
		p.auditby
		
		
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{purchase_id},	
        #{purchase_code},	
        #{supplier_sn},	
        #{supplier_name},	
        #{bill_type},	
        #{business_type},	
        #{purchase_date},	
        #{purchase_dep},	
        #{purchase_org},	
        #{status},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{purchase_group_id},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        purchase_code,	
		        supplier_sn,	
		        supplier_name,	
		        bill_type,	
		        business_type,	
		        purchase_date,	
		        purchase_dep,	
		        purchase_org,	
		        status,	
		        createby,	
		        create_time,	
		        updateby,	
		        purchase_group_id,
		        update_time	
		) values (
	 #{purchase_code},	
        #{supplier_sn},	
        #{supplier_name},	
        #{bill_type},	
        #{business_type},	
        #{purchase_date},	
        #{purchase_dep},	
        #{purchase_org},	
        #{status},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{purchase_group_id},	
        #{update_time}	
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			purchase_id = #{purchase_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		<if test="purchase_id != null and purchase_id != ''">
			purchase_id = #{purchase_id},
		</if>
		<if test="purchase_code != null and purchase_code != ''">
			purchase_code = #{purchase_code},
		</if>
		<if test="supplier_sn!= null and supplier_sn != ''">
			 supplier_sn= #{supplier_sn},
		</if>
		<if test="supplier_name!= null and supplier_name != ''">
			 supplier_name= #{supplier_name},
		</if>
		<if test=" bill_type!= null and  bill_type!= ''">
			bill_type = #{bill_type},
		</if>
		<if test=" business_type!= null and  business_type!= ''">
			 business_type= #{business_type},
		</if>
		<if test=" purchase_date!= null and  purchase_date!= ''">
			 purchase_date= #{purchase_date},
		</if>
		<if test=" purchase_dep!= null and  purchase_dep!= ''">
			purchase_dep = #{purchase_dep},
		</if>
		<if test=" purchase_org!= null and  purchase_org!= ''">
			purchase_org = #{purchase_org},
		</if>
		<if test=" status!= null and  status!= ''">
			 status= #{status},
		</if>
		<if test=" createby!= null and createby != ''">
			createby = #{createby},
		</if>
		<if test=" create_time!= null and  create_time!= ''">
			create_time = #{create_time},
		</if>
		<if test=" updateby!= null and  updateby!= ''">
			 updateby= #{updateby},
		</if>
		<if test=" update_time!= null">
			update_time = #{update_time},
		</if>
		<if test=" purchase_group_id!= null">
			purchase_group_id = #{purchase_group_id},
		</if>
		<if test=" commit_time!= null">
			commit_time = #{commit_time},
		</if>
		<if test=" commitby!= null">
			commitby = #{commitby},
		</if>
		<if test=" complete_time!= null">
			complete_time = #{complete_time},
		</if>
		<if test=" completeby!= null">
			completeby = #{completeby},
		</if>
		<if test=" audit_time!= null">
			audit_time = #{audit_time},
		</if>
		<if test="auditby!= null">
			auditby = #{auditby},
		</if>
		
		purchase_id = purchase_id
		where 
		purchase_id = #{purchase_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="relationt_ableName"></include>
		where 
			purchase_id = #{purchase_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="relationt_ableName"></include>
		where 1=1
		<if test="pd.purchase_code!= null and pd.purchase_code != ''"><!-- 关键词检索 -->
			and
				(
				purchase_code = #{pd.purchase_code}
				)
		</if>
		<if test="pd.status!=null and pd.status!=''">
			and (
				status = #{pd.status}
			)
		</if>
		<if test="pd.notStatus!=null and pd.notStatus!=''">
			and (
				status != #{pd.notStatus}
			)
		</if>
		<if test="pd.supplier_name!=null and pd.supplier_name!=''">
			and (
				supplier_name like  CONCAT('%',#{pd.supplier_name},'%' ) 
			)
		</if>
		<if test="pd.business_type!=null and pd.business_type!=''">
			and (
				business_type = #{pd.business_type}
			)
		</if>
	
		<if test="pd.purchase_group_id!=null and pd.purchase_group_id!=''">
			and (
				p.purchase_group_id = #{pd.purchase_group_id}
			)
		</if>
		<if test="pd.purchase_group_ids!=null and pd.purchase_group_ids!=''">
			and (
			p.purchase_group_id in 
				${pd.purchase_group_ids}
			)
		</if>
		 
		order by p.create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="relationt_ableName"></include>
		order by p.create_time desc
	</select>
	
	<!-- 根据单据编号查询 -->
	<select id="findByPurchaseCode" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="relationt_ableName"></include>
		where purchase_code = #{purchase_code}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			purchase_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<select id="findByCode" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="relationt_ableName"></include>
		where 
			purchase_code = #{purchase_code}
	</select>
	<!-- fh313596790qq(青苔) -->
</mapper>