<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QualityCheckFileMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_quality_check_file
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		quality_check_id,	
		url,	
		createby,	
		create_time,	
		updateby,	
		update_time,	
		quality_check_file_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{quality_check_id},	
        #{url},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        quality_check_id,	
		        url,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			quality_check_file_id = #{quality_check_file_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			quality_check_id = #{quality_check_id},
			url = #{url},
		quality_check_file_id = quality_check_file_id
		where 
		quality_check_file_id = #{quality_check_file_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			quality_check_file_id = #{quality_check_file_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.quality_check_id!= null and pd.quality_check_id != ''"><!-- 关键词检索 -->
			and quality_check_id = #{pd.quality_check_id}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="quality_check_id!= null and quality_check_id != ''"><!-- 关键词检索 -->
			and quality_check_id = #{quality_check_id}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			quality_check_file_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>