<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QualityCheckMapper">
	
	<!--表名 -->
	<sql id="tableName">
		pgt_quality_check
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		quality_check_id,
		type,	
		purchase_code,	
		purchase_detail_id,	
		status,	
		createby,	
		create_time,	
		updateby,	
		update_time
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{type},	
        #{purchase_code},	
        #{purchase_detail_id},	
        #{status},	
        #{createby},	
        #{create_time},	
        #{updateby},	
        #{update_time}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" useGeneratedKeys="true" keyProperty="quality_check_id" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        type,	
		        purchase_code,	
		        purchase_detail_id,	
		        status,	
		        createby,	
		        create_time,	
		        updateby,	
		        update_time	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			quality_check_id = #{quality_check_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			type = #{type},
			purchase_detail_id = #{purchase_detail_id},
			status = #{status},
			createby = #{createby},
			create_time = #{create_time},
			updateby = #{updateby},
			update_time = #{update_time}
		where 
		quality_check_id = #{quality_check_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			quality_check_id = #{quality_check_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					purchase_code LIKE CONCAT('%', #{pd.keywords},'%')
				
				)
		</if>
		<if test="pd.type!= null and pd.type != ''">
		 and type = #{pd.type}
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
			and (
				create_time &gt; #{pd.lastStart}
				or
				update_time &gt; #{pd.lastStart}
			)
		</if>
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
			and (
				create_time &lt; #{pd.lastEnd}
				or
				update_time &lt; #{pd.lastEnd}
			)
		</if>
		order by create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			quality_check_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>