<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScrapDetailMapper">

	<!--表名 -->
	<sql id="tableName">
		pgt_scrap_detail
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		scrap_code,
		sku_id,
		sku_encode,
		sku_name,
		batch_code,
		spec,
		status,
		scrap_quantity,
		audit_quantity,
		auditby,
		audit_time,
		unit,
		remark,
		deal_suggest_type,
		deal_suggest_des,
		createby,
		create_time,
		updateby,
		update_time,
		scrap_detail_id
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{scrap_code},
		#{sku_id},
		#{sku_encode},
		#{sku_name},
		#{batch_code},
		#{spec},
		#{status},
		#{scrap_quantity},
		#{audit_quantity},
		#{auditby},
		#{audit_time},
		#{unit},
		#{remark},
		#{deal_suggest_type},
		#{deal_suggest_des},
		#{createby},
		#{create_time},
		#{updateby},
		#{update_time}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		scrap_code,
		sku_id,
		sku_encode,
		sku_name,
		batch_code,
		spec,
		status,
		scrap_quantity,
		audit_quantity,
		auditby,
		audit_time,
		unit,
		remark,
		deal_suggest_type,
		deal_suggest_des,
		createby,
		create_time,
		updateby,
		update_time
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		scrap_detail_id = #{scrap_detail_id}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		scrap_quantity = #{scrap_quantity},
		remark = #{remark},
		updateby =
		#{updateby},
		update_time = #{update_time}
		where
		scrap_detail_id =
		#{scrap_detail_id}
	</update>
	<update id="check" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		status = #{status},
		audit_quantity = #{audit_quantity},
		auditby =
		#{auditby},
		audit_time = #{audit_time},
		deal_suggest_type =
		#{deal_suggest_type},
		deal_suggest_des = #{deal_suggest_des},
		updateby =
		#{updateby},
		update_time = #{update_time}
		where
		scrap_detail_id =
		#{scrap_detail_id}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		scrap_detail_id = #{scrap_detail_id}
	</select>

	<select id="checkexists" parameterType="pd" resultType="int">
		select
		count(0)
		from
		<include refid="tableName"></include>
		where
		scrap_code = #{scrap_code}
		and sku_id = #{sku_id}
		and batch_code =
		#{batch_code}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			(
			<!-- 根据需求自己加检索条件 字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or 字段2 
				LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') -->
			)
		</if>
		<if test="pd.scrap_code!= null and pd.scrap_code != ''"><!-- 关键词检索 -->
			and scrap_code = #{pd.scrap_code}
		</if>
	</select>

	<select id="list" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1 and scrap_code = #{scrap_code}
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		scrap_detail_id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="listByCode" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1 and scrap_code = #{scrap_code}
	</select>

	<!--通过CODE查询数据 -->
	<select id="findByAllocationCode" parameterType="pd" resultType="pd">
		SELECT
		d.scrap_code,
		d.sku_encode,
		d.sku_name,
		d.batch_code,
		d.scrap_quantity,
		d.audit_quantity,
		d.unit,d.spec,
		d.deal_suggest_type,
		d.remark
		FROM 
		pgt_scrap_detail d
		INNER JOIN 
		pgt_scrap s
		ON
		d.scrap_code=s.scrap_code
		WHERE
		d.scrap_code=#{scrap_code}
	</select>
	<!-- fh313596790qq(青苔) -->
</mapper>