<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupplierMapper">
	
	<!--表名 -->
	<sql id="tableName">
		szy_supplier
	</sql>
	<!-- 指定映射，不然tivint被默认转成boolean类型 -->
	 <resultMap type="com.fh.util.PageData" id="pdTivint"> 
	 <result property="supplier_type" column="supplier_type"  javaType="int" />
	 <result property="is_show" column="is_show"  javaType="int" />
	 <result property="is_deleted" column="is_deleted"  javaType="int" />
 </resultMap>
	<!-- 字段 -->
	<sql id="Field">
		supplier_id,	
		supplier_type,	
		supplier_sn,	
		supplier_name,	
		deposit,	
		taxes,	
		supplier_remark,	
		is_show,	
		is_deleted,	
		contact,
		tel,
		address,
		admin_id	
		
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
       <!--  #{supplier_id}, -->	
        #{supplier_type},	
        #{supplier_sn},	
        #{supplier_name},	
        #{deposit},	
        #{taxes},	
        #{supplier_remark},	
        #{is_show},	
        #{is_deleted},
        #{contact},
        #{tel},
        #{address},
        #{admin_id}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		      
		        supplier_type,	
		        supplier_sn,	
		        supplier_name,	
		        deposit,	
		        taxes,	
		        supplier_remark,	
		        is_show,	
		        is_deleted,	
		        contact,
		        tel,
		        address,
		        admin_id	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			supplier_id = #{supplier_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			supplier_sn = #{supplier_sn},
			supplier_name = #{supplier_name},
			supplier_remark = #{supplier_remark},
			contact = #{contact},
			tel = #{tel},
			address = #{address},
		supplier_id = supplier_id
		where 
		supplier_id = #{supplier_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultMap="pdTivint">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			supplier_id = #{supplier_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="pdTivint">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.supplier_sn != null and pd.supplier_sn != ''">
		and	
			supplier_sn like CONCAT('%',#{pd.supplier_sn},'%' ) 
		</if>
		<if test="pd.supplier_name != null and pd.supplier_name != ''">
		and	
			supplier_name like CONCAT('%',#{pd.supplier_name},'%' )  
		</if>
				
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultMap="pdTivint">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			supplier_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>