<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LibGoodsShopMapper">
	
	<!--表名 -->
	<sql id="tableName">
		szy_lib_goods
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		goods_id,	
		goods_name,	
		cat_id,	
		shop_id,	
		sku_open,	
		sku_id,	
		goods_price,	
		goods_number,	
		warn_number,	
		goods_sn,	
		goods_barcode,	
		goods_image,	
		packing_layout_id,	
		click_count,	
		comment_num,	
		sale_num,	
		collect_num,	
		goods_audit,	
		goods_status,	
		goods_reason,	
		is_delete,	
		is_virtual,	
		is_best,	
		is_new,	
		is_hot,	
		is_promote,	
		contract_ids,	
		goods_sort,	
		add_time,	
		last_time,	
		goods_weight,	
		goods_id_from_erp,	
		sku_id_from_erp,	
		goods_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{goods_id},	
        #{goods_name},	
        #{cat_id},	
        #{shop_id},	
        #{sku_open},	
        #{sku_id},	
        #{goods_price},	
        #{goods_number},	
        #{warn_number},	
        #{goods_sn},	
        #{goods_barcode},	
        #{goods_image},	
        #{packing_layout_id},	
        #{click_count},	
        #{comment_num},	
        #{sale_num},	
        #{collect_num},	
        #{goods_audit},	
        #{goods_status},	
        #{goods_reason},	
        #{is_delete},	
        #{is_virtual},	
        #{is_best},	
        #{is_new},	
        #{is_hot},	
        #{is_promote},	
        #{contract_ids},	
        #{goods_sort},	
        #{add_time},	
        #{last_time},	
        #{goods_weight},	
        #{goods_id_from_erp},	
        #{sku_id_from_erp}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        goods_id,	
		        goods_name,	
		        cat_id,	
		        shop_id,	
		        sku_open,	
		        sku_id,	
		        goods_price,	
		        goods_number,	
		        warn_number,	
		        goods_sn,	
		        goods_barcode,	
		        goods_image,	
		        packing_layout_id,	
		        click_count,	
		        comment_num,	
		        sale_num,	
		        collect_num,	
		        goods_audit,	
		        goods_status,	
		        goods_reason,	
		        is_delete,	
		        is_virtual,	
		        is_best,	
		        is_new,	
		        is_hot,	
		        is_promote,	
		        contract_ids,	
		        goods_sort,	
		        add_time,	
		        last_time,	
		        goods_weight,	
		        goods_id_from_erp,	
		        sku_id_from_erp	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			goods_id = #{goods_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
			goods_price = #{goods_price},
			goods_sn = #{goods_sn},
			goods_barcode = #{goods_barcode},
			goods_weight = #{goods_weight}
		where 
		goods_id = #{goods_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			goods_sn = #{goods_sn}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			goods_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>