<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SwitchAppConfigMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_switch_config
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,	
		version,	
		platform,	
		business_type,	
		channel,
		turn_on
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{id},	
        #{version},	
        #{platform},	
        #{business_type},
        #{turn_on},
        #{channel}
	</sql>
	

	<!-- 通过ID获取数据 -->
	<select id="findChannels" resultType="pd">
		select id,channel,channel_name
		from 
		dl_phone_channel
	</select>
	
	<select id="queryList" resultType="pd">
		select * from dl_switch_config	
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        id,	
		        version,	
		        platform,	
		        business_type,	
		        turn_on,
		        channel
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set turn_on = #{turn_on}
		where 
		id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		sc.id,	
		sc.version,	
		sc.platform,	
		sc.business_type,	
		sc.channel,
		pc.channel_name,
		sc.turn_on
		from 
		dl_switch_config sc
		left join
		dl_phone_channel pc
		on sc.channel = pc.channel
		where 
			sc.id = #{id}
	</select>
	
	
	<!-- 通过查询条件获取数据 -->
	<select id="querySwitchAppConfig" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where version = #{version} and platform =  #{platform} and  channel = #{channel} 
	</select>
	
	<!-- 查找所有app的名称 -->
	<select id="listAppName" parameterType="pd"  resultType="pd">
		select * from dl_app
	</select>	
	
	<!-- 通过app_code_name获取数据 -->
	<select id="listSubDictByParentId" parameterType="pd" resultType="pd">
		select  *  from  dl_phone_channel where  app_code_name = #{app_code_name}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			sc.id,	
			sc.version,	
			sc.platform,	
			sc.business_type,	
			pc.channel,
			pc.channel_name,
			sc.turn_on
		from 
		dl_switch_config sc
		left join
		dl_phone_channel pc
		on sc.channel = pc.channel
		where 1=1
		
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				sc.version  
				LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
				pc.channel_name  
				LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
				pc.channel
				LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')					 
		</if>
		<if test="pd.version != null and pd.version != ''"> 
			and sc.version = #{pd.version}
		</if>
		<if test="pd.platform != null and pd.platform != ''"> 
			and sc.platform = #{pd.platform}
		</if>
		<if test="pd.channel != null and pd.channel != ''"> 
			and pc.channel = #{pd.channel}
		</if>
		<if test="pd.channel_name != null and pd.channel_name != ''"> 
			and pc.channel_name = #{pd.channel_name}
		</if>
		
		order by sc.version desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>