<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ErpWareHouseMapper">
	
	<!--表名 -->
	<sql id="tableName">
		warehouse
	</sql>
	
	<sql id="district">
		district
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		warehouse_code,	
		warehouse_name,	
		parent_code,	
		warehouse_type,	
		address,	
		status,	
		longitude,	
		latitude,	
		district_sn,	
		create_user,	
		create_time,	
		update_user,	
		update_time,	
		warehouse_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{warehouse_code},	
		#{warehouse_name},	
		#{parent_code},	
		#{warehouse_type},	
		#{address},	
		#{status},	
		#{longitude},	
		#{latitude},	
		#{district_sn},	
		#{create_user},	
		#{create_time},	
		#{update_user},	
		#{update_time}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
				warehouse_code,	
				warehouse_name,	
				parent_code,	
				warehouse_type,	
				address,	
				status,	
				longitude,	
				latitude,	
				district_sn,	
				create_user,	
				create_time,	
				update_user,	
				update_time	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			warehouse_id = #{warehouse_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			warehouse_name = #{warehouse_name},
			parent_code = #{parent_code},
			warehouse_type = #{warehouse_type},
			address = #{address},
			status = #{status},
			longitude = #{longitude},
			latitude = #{latitude},
			district_sn = #{district_sn},
		warehouse_id = warehouse_id
		where 
		warehouse_id = #{warehouse_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			warehouse_id = #{warehouse_id}
	</select>
	
	<!-- 通过参数获取数据 -->
	<select id="findByPd" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		    <if test="warehouse_code!= null and warehouse_code != ''">
		        and warehouse_code = #{warehouse_code}
		    </if>
		    <if test="warehouse_name!= null and warehouse_name != ''">
		        and warehouse_name = #{warehouse_name}
		    </if>
		    <if test="parent_code!= null and parent_code != ''">
		    	and parent_code = #{parent_code}
		    </if>
		    <if test="warehouse_type!= null and warehouse_type != ''">
		    	and warehouse_type = #{warehouse_type}
		    </if>
		    <if test="address!= null and address != ''">
		    	and address = #{address}
		    </if>
		    <if test="status!= null and status != ''">
		    	and status = #{status}
		    </if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			w.warehouse_code,	
			w.warehouse_name,	
			w.parent_code,	
			w.warehouse_type,	
			w.address,	
			w.status,	
			w.longitude,	
			w.latitude,	
			w.district_sn,	
			w.create_user,	
			w.create_time,	
			w.update_user,	
			w.update_time,	
			w.warehouse_id,
			d.district_name,
			w2.warehouse_name as parent_name
		from 
		<include refid="tableName"></include> w
		left join 
		<include refid="district"></include>  d 
		on w.district_sn=d.district_sn
		left join 
		<include refid="tableName"></include> w2 
		on w.parent_code=w2.warehouse_code
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				    <!--	根据需求自己加检索条件    -->
					w.warehouse_code LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					w.warehouse_name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				    or 
					w.parent_code LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					or 
					w.address LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					or
					w2.warehouse_name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				    or
				    d.district_name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.lastStart !=null and pd.lastStart !=''">
            <![CDATA[
            and w.create_time >= #{pd.lastStart}
            ]]>
        </if>
        <if test="pd.lastEnd !=null and pd.lastEnd !=''">
            <![CDATA[
            and w.create_time <= #{pd.lastEnd}
            ]]>
        </if>
        <if test="pd.type!= null and pd.type != ''"><!-- 关键词检索 -->
			and (
			        w.warehouse_type = #{pd.type}
			    )
		</if>
	    <if test="pd.status!= null and pd.status != ''"><!-- 关键词检索 -->
			and (
			        w.status = #{pd.status}
			    )
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
			w.warehouse_code,	
			w.warehouse_name,	
			w.parent_code,	
			w.warehouse_type,	
			w.address,	
			w.status,	
			w.longitude,	
			w.latitude,	
			w.district_sn,	
			w.create_user,	
			w.create_time,	
			w.update_user,	
			w.update_time,	
			w.warehouse_id,
			d.district_name,
			w2.warehouse_name as parent_name
		from 
		<include refid="tableName"></include> w
		left join 
		<include refid="district"></include>  d 
		on w.district_sn=d.district_sn
		left join 
		<include refid="tableName"></include> w2 
		on w.parent_code=w2.warehouse_code
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			warehouse_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>