<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleControllerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_article
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		article_id,	
		title,	
		cat_id,	
		content,	
		keywords,	
		jurisdiction,	
		article_thumb,	
		add_time,	
		is_comment,	
		click_number,	
		is_show,	
		user_id,	
		status,	
		link,	
		source,	
		summary,	
		extend_cat,	
		is_recommend,	
		author,	
		match_id,	
		related_team,	
		list_style,	
		is_original,	
		is_delete,	
		is_stick,	
		stick_time,	
		price,	
		level,	
		article_pv,	
		article_uv,
		label_defaults,
		video_url 
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{article_id},	
        #{title},	
        #{cat_id},	
        #{content},	
        #{keywords},	
        #{jurisdiction},	
        #{article_thumb},	
        #{add_time},	
        #{is_comment},	
        #{click_number},	
        #{is_show},	
        #{user_id},	
        #{status},	
        #{link},	
        #{source},	
        #{summary},	
        #{extend_cat},	
        #{is_recommend},	
        #{author},	
        #{match_id},	
        #{related_team},	
        #{list_style},	
        #{is_original},	
        #{is_delete},	
        #{is_stick},	
        #{stick_time},	
        #{price},	
        #{level},	
        #{article_pv},	
        #{article_uv},
        #{label_defaults},
        #{video_url} 
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        article_id,	
		        title,	
		        cat_id,	
		        content,	
		        keywords,	
		        jurisdiction,	
		        article_thumb,	
		        add_time,	
		        is_comment,	
		        click_number,	
		        is_show,	
		        user_id,	
		        status,	
		        link,	
		        source,	
		        summary,	
		        extend_cat,	
		        is_recommend,	
		        author,	
		        match_id,	
		        related_team,	
		        list_style,	
		        is_original,	
		        is_delete,	
		        is_stick,	
		        stick_time,	
		        price,	
		        level,	
		        article_pv,	
		        article_uv,
		        label_defaults,
		        video_url 
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			article_id = #{article_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			title = #{title},
			cat_id = #{cat_id},
			content = #{content},
			keywords = #{keywords},
			jurisdiction = #{jurisdiction},
			article_thumb = #{article_thumb},
			add_time = #{add_time},
			is_comment = #{is_comment},
			click_number = #{click_number},
			is_show = #{is_show},
			user_id = #{user_id},
			status = #{status},
			link = #{link},
			source = #{source},
			summary = #{summary},
			extend_cat = #{extend_cat},
			is_recommend = #{is_recommend},
			author = #{author},
			match_id = #{match_id},
			related_team = #{related_team},
			list_style = #{list_style},
			is_original = #{is_original},
			is_delete = #{is_delete},
			is_stick = #{is_stick},
			price = #{price},
			level = #{level},
			article_pv = #{article_pv},
			article_uv = #{article_uv},
			label_defaults = #{label_defaults},
			video_url=#{video_url} 
		where 
		article_id = #{article_id}
	</update>
	
	<!-- 根据Key修改 -->
	<update id="updateByKey" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		<if test="status != null and status!= ''"> 
					status = #{status} 
		</if>
		<if test="is_stick != null and is_stick!=''"> 
			<if test="status != null and status!= ''"> 
					,
			</if>
					is_stick = #{is_stick}
		</if>
		where 
		article_id = #{article_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			article_id = #{article_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.title != null and pd.title != ''"> 
			and title  
			LIKE CONCAT(CONCAT('%', #{pd.title}),'%')
		</if>
		<if test="pd.author != null and pd.author != ''"> 
			and author  
			LIKE CONCAT(CONCAT('%', #{pd.author}),'%')
		</if>
		<if test="pd.article_id != null and pd.article_id != ''"> 
			and article_id 
			LIKE CONCAT(CONCAT('%', #{pd.article_id}),'%')
		</if>
		<if test="pd.status != null and pd.status!= ''"> 
			and status = #{pd.status}
		</if>
		<if test="pd.match_id != null and pd.match_id!= ''"> 
			and match_id = #{pd.match_id}
		</if>
		<if test="pd.lastStart1 != null and pd.lastStart1 != ''"> 
			and  add_time &gt; #{pd.lastStart1 }
		</if>
		<if test="pd.lastEnd1 != null and pd.lastEnd1 != ''"> 
			and  add_time &lt; #{pd.lastEnd1 }
		</if>
			order by  is_stick desc , status asc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			article_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>