<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BannerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_nav_banner
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,	
		banner_name,	
		banner_image,	
		banner_link,	
		banner_param,	
		banner_sort,	
		is_show,	
		is_transaction,
		create_time,	
		start_time,	
		end_time,
		show_position
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{id},	
        #{banner_name},	
        #{banner_image},	
        #{banner_link},	
        #{banner_param},	
        #{banner_sort},	
        #{is_show},	
        #{is_transaction},	
        #{create_time},	
        #{start_time},	
        #{end_time}	,
        #{show_position}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        id,	
		        banner_name,	
		        banner_image,	
		        banner_link,	
		        banner_param,	
		        banner_sort,	
		        is_show,	
		        is_transaction,
		        create_time,	
		        start_time,	
		        end_time,
		        show_position
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			banner_name = #{banner_name},
			banner_image = #{banner_image},
			banner_link = #{banner_link},
			banner_param = #{banner_param},
			banner_sort = #{banner_sort},
			is_show = #{is_show},
			is_transaction = #{is_transaction},
			start_time = #{start_time},
			end_time = #{end_time},
			show_position = #{show_position}
		where 
		id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			id = #{id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.title != null and pd.title != ''"> 
			and banner_name 
				LIKE CONCAT(CONCAT('%', #{pd.title}),'%')
		</if>
		<if test="pd.is_show != null and pd.is_show != ''">
			and is_show = #{pd.is_show }
		</if>
		<if test="pd.is_transaction != null and pd.is_transaction != ''">
			and is_transaction = #{pd.is_transaction }
		</if>
		<if test="pd.startTimeStart1 != null and pd.startTimeStart1 != ''"> 
			and start_time &gt; #{pd.startTimeStart1 }
		</if>
		<if test="pd.startTimeEnd1  != null and pd.startTimeEnd1  != ''"> 
			and start_time &lt; #{pd.startTimeEnd1 }
		</if>
		<if test="pd.endTimeStart1 != null and pd.endTimeStart1 != ''"> 
			and end_time &gt; #{pd.endTimeStart1 }
		</if>
		<if test="pd.endTimeEnd1 != null and pd.endTimeEnd1 != ''"> 
			and end_time &lt; #{pd.endTimeEnd1 }
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<update id="updateByKey" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			<if test="is_show != null and is_show !=''"> 
				is_show = #{is_show}
			</if>
		where 
			id= #{id}
	</update>
	<!-- fh313596790qq(青苔) -->
</mapper>