<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DistributeBonusMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_distribute_bonus_record
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,	
		bonus_id,	
		receiver,	
		user_id,	
		file_url,	
		status,	
		type,
		bonus_num,
		add_time,	
		add_user,	
		pass_time,	
		pass_user
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{id},	
        #{bonus_id},	
        #{receiver},	
        #{user_id},	
        #{file_url},	
        #{status},	
        #{type},
        #{bonus_num},
        #{add_time},	
        #{add_user},	
        #{pass_time},	
        #{pass_user}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        id,	
		        bonus_id,	
		        receiver,	
		        user_id,	
		        file_url,	
		        status,	
		        type,
        		bonus_num,
		        add_time,	
		        add_user,	
		        pass_time,	
		        pass_user	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			status = #{status},
			bonus_num = #{bonus_num},
			pass_user = #{pass_user},
			pass_time = #{pass_time}
		where 
		id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where id = #{id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''">
			and file_url LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or add_user LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or bonus_id LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or receiver LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
		<if test="pd.lastStart != null and pd.lastStart != ''"> 
			and add_time &gt; #{pd.lastStart}
		</if>
		<if test="pd.lastEnd != null and pd.lastEnd != ''"> 
			and add_time &lt; #{pd.lastEnd}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>