<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_order
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		order_id,	
		order_sn,	
		parent_sn,	
		user_id,	
		order_status,	
		pay_status,	
		pay_id,	
		pay_code,	
		pay_name,	
		pay_sn,	
		money_paid,	
		ticket_amount,	
		surplus,	
		user_surplus,	
		user_surplus_limit,	
		third_party_paid,	
		user_bonus_id,	
		bonus,	
		give_integral,	
		order_from,	
		add_time,	
		pay_time,	
		order_type,	
		lottery_classify_id,	
		lottery_play_classify_id,	
		match_time,	
		winning_money,	
		play_type,	
		pass_type,	
		bet_num,	
		cathectic,	
		accept_time,	
		ticket_time,	
		forecast_money,	
		issue,	
		is_delete,	
		ticket_num
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{order_id},	
        #{order_sn},	
        #{parent_sn},	
        #{user_id},	
        #{order_status},	
        #{pay_status},	
        #{pay_id},	
        #{pay_code},	
        #{pay_name},	
        #{pay_sn},	
        #{money_paid},	
        #{ticket_amount},	
        #{surplus},	
        #{user_surplus},	
        #{user_surplus_limit},	
        #{third_party_paid},	
        #{user_bonus_id},	
        #{bonus},	
        #{give_integral},	
        #{order_from},	
        #{add_time},	
        #{pay_time},	
        #{order_type},	
        #{lottery_classify_id},	
        #{lottery_play_classify_id},	
        #{match_time},	
        #{winning_money},	
        #{play_type},	
        #{pass_type},	
        #{bet_num},	
        #{cathectic},	
        #{accept_time},	
        #{ticket_time},	
        #{forecast_money},	
        #{issue},	
        #{is_delete},	
        #{ticket_num}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        order_id,	
		        order_sn,	
		        parent_sn,	
		        user_id,	
		        order_status,	
		        pay_status,	
		        pay_id,	
		        pay_code,	
		        pay_name,	
		        pay_sn,	
		        money_paid,	
		        ticket_amount,	
		        surplus,	
		        user_surplus,	
		        user_surplus_limit,	
		        third_party_paid,	
		        user_bonus_id,	
		        bonus,	
		        give_integral,	
		        order_from,	
		        add_time,	
		        pay_time,	
		        order_type,	
		        lottery_classify_id,	
		        lottery_play_classify_id,	
		        match_time,	
		        winning_money,	
		        play_type,	
		        pass_type,	
		        bet_num,	
		        cathectic,	
		        accept_time,	
		        ticket_time,	
		        forecast_money,	
		        issue,	
		        is_delete,	
		        ticket_num	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			order_id = #{order_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			pay_time = #{pay_time},
			match_time = #{match_time}
		where 
		order_id = #{order_id}
	</update>
	<select id="selectSuccessByTime" parameterType="String" resultType="pd">
		SELECT
			user_id,
			money_paid,
			ticket_time,
			DATE_FORMAT( FROM_UNIXTIME( ticket_time ), '%Y-%m-%d %H:%i' ) AS ticket_time_str 
		FROM
			dl_order 
		WHERE order_status IN ( 3, 4, 5, 6, 7 )
			<if test="pd.lastStart1 != null and pd.lastStart1 != ''"> 
				and add_time &gt; #{pd.lastStart1 }
			</if>
			<if test="pd.lastEnd1 != null and pd.lastEnd1 != ''"> 
				and add_time &lt; #{pd.lastEnd1 }
			</if>
	</select>
	<!-- 通过ID获取数据 -->
	<select id="findByOrderSn" parameterType="String" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			order_sn = #{order_sn}
	</select>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			order_id = #{order_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT
			o.order_sn,
			u.user_id,
			u.user_name,
			u.mobile,
			l.lottery_name,
			o.order_status,
			o.pay_name,
			o.ticket_amount,
			o.third_party_paid,
			o.winning_money,
			o.bonus,
			o.surplus,
			o.pay_time 
		FROM
			dl_order o
			LEFT JOIN dl_lottery_classify l ON o.lottery_classify_id = l.lottery_classify_id
			LEFT JOIN dl_user u ON o.user_id = u.user_id 
		WHERE
			o.order_status = 7
			<if test="pd.order_sn != null and pd.order_sn != ''"> 
			and o.order_sn  
				LIKE CONCAT(CONCAT('%', #{pd.order_sn}),'%')
		</if>
		<if test="pd.mobile != null and pd.mobile != ''">
			and u.mobile  
			LIKE CONCAT(CONCAT('%', #{pd.mobile}),'%')
		</if>
		<if test="pd.user_name != null and pd.user_name != ''"> 
			and u.user_name  
				LIKE CONCAT(CONCAT('%', #{pd.user_name}),'%')
		</if>
		<if test="pd.lastStart1 != null and pd.lastStart1 != ''"> 
			and o.pay_time &gt; #{pd.lastStart }
		</if>
		<if test="pd.lastEnd1 != null and pd.lastEnd1 != ''"> 
			and o.pay_time &lt; #{pd.lastEnd1 }
		</if>
		<if test="pd.amountStart != null and pd.amountStart != ''"> 
			and o.winning_money &gt; #{pd.amountStart }
		</if>
		<if test="pd.amountEnd != null and pd.amountEnd != ''"> 
			and o.winning_money &lt; #{pd.amountEnd }
		</if>
			order by pay_time desc
	</select>
	<!-- 列表 -->
	<select id="datalistPage1" parameterType="page" resultType="pd">
		SELECT
			o.order_id,
			o.order_sn,
			u.user_id,
			u.user_name,
			u.mobile,
			l.lottery_name,
			l.lottery_classify_id,
			o.order_status,
			o.pay_name,
			o.ticket_amount,
			o.winning_money,
			o.bonus,
			o.surplus,
			o.third_party_paid,
			o.add_time,
			o.pay_time 
		FROM
			dl_order o
			LEFT JOIN dl_lottery_classify l ON o.lottery_classify_id = l.lottery_classify_id
			LEFT JOIN dl_user u ON o.user_id = u.user_id 
		WHERE 1 = 1
			<if test="pd.order_sn != null and pd.order_sn != ''"> 
			and o.order_sn  
				LIKE CONCAT(CONCAT('%', #{pd.order_sn}),'%')
		</if>
		<if test="pd.mobile != null and pd.mobile != ''">
			and u.mobile  
			LIKE CONCAT(CONCAT('%', #{pd.mobile}),'%')
		</if>
		<if test="pd.user_name != null and pd.user_name != ''"> 
			and u.user_name  
				LIKE CONCAT(CONCAT('%', #{pd.user_name}),'%')
		</if>
		<if test="pd.lastStart1 != null and pd.lastStart1 != ''"> 
			and o.add_time &gt; #{pd.lastStart1 }
		</if>
		<if test="pd.lastEnd1 != null and pd.lastEnd1 != ''"> 
			and o.add_time &lt; #{pd.lastEnd1 }
		</if>
		<if test="pd.amountStart != null and pd.amountStart != ''"> 
			and o.winning_money &gt; #{pd.amountStart }
		</if>
		<if test="pd.amountEnd != null and pd.amountEnd != ''"> 
			and o.winning_money &lt; #{pd.amountEnd }
		</if>
		<if test="pd.order_status != null and pd.order_status != ''"> 
			and o.order_status = #{pd.order_status }
		</if>
		<if test="pd.order_status == null || pd.order_status == ''"> 
			and o.order_status != 0
		</if>
		<if test="pd.lottery_classify_id != null and pd.lottery_classify_id != ''"> 
			and l.lottery_classify_id = #{pd.lottery_classify_id }
		</if>
		order  by 	o.add_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<select id="selectByTime" parameterType="String" resultType="pd">
		SELECT
			user_id,
			money_paid,
			ticket_time,
			DATE_FORMAT( FROM_UNIXTIME( ticket_time ), '%Y-%m-%d %H:%i' ) AS ticket_time_str 
		FROM
			dl_order 
		WHERE
			DATE_FORMAT( FROM_UNIXTIME( ticket_time ), '%Y-%m-%d %H:%i' ) = #{addTime}
			AND order_status IN ( 3, 4, 5, 6, 7 )
	</select>
	<select id="toDetail" parameterType="Integer" resultType="pd">
		SELECT
		 *
		FROM
			dl_order_detail
		WHERE
		 order_id = #{order_id}
	</select>
		<!-- 数据统计中-首购订单 -->
	<select id="getFirstOrderList" parameterType="page" resultType="pd">
		SELECT COALESCE(count(DISTINCT user_id),0) as count,
			 	COALESCE(sum(ticket_amount),0) as amount
		from dl_order   
		where order_sn in 
			(SELECT  order_sn from dl_order 
			where order_status in ('3','4','5','6','7') GROUP BY user_id 
			HAVING min(add_time) &gt; #{pd.lastStart1} and  min(add_time) &lt; #{pd.lastEnd1} );
	</select>
	<!-- 数据统计中-复购订单 -->
	<select id="getAgainOrderList" parameterType="page" resultType="pd">
		SELECT 	COALESCE(count(DISTINCT user_id),0) as count,
				COALESCE(sum(ticket_amount),0) as amount
		from dl_order   
		where order_sn not in 
				(SELECT 	order_sn from dl_order 
				where order_status in ('3','4','5','6','7') GROUP BY user_id 
				HAVING min(add_time) &gt; #{pd.lastStart1} and  min(add_time) &lt; #{pd.lastEnd1}
				)
			and user_id not in (
				SELECT  user_id  from dl_order 
				where add_time &lt; #{pd.lastStart1} 
						and order_status in ('3','4','5','6','7')
				GROUP BY user_id  having count(user_id)>1
				) 
			and   order_status in ('3','4','5','6','7')
			and add_time  &gt; #{pd.lastStart1} and  add_time &lt; #{pd.lastEnd1}
	</select>
	<!-- 数据统计中-订单数据 -->
	<select id="getOrderAndDetail" parameterType="page" resultType="pd">
		SELECT   o.user_id,
				lpc.play_name,
				d.match_id  ,
				o.pass_type,
				o.cathectic  ,
				o.ticket_amount ,
				o.order_status ,
				o.winning_money ,
				o.add_time ,
				o.award_time  
		FROM dl_order o LEFT JOIN dl_order_detail d on o.order_id = d.order_id 
						LEFT JOIN dl_lottery_play_classify lpc on o.lottery_play_classify_id=lpc.lottery_play_classify_id
		where o.add_time &gt; #{pd.lastStart1} and  o.add_time &lt; #{pd.lastEnd1}
		ORDER BY add_time
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			order_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>