<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RechargeCardAccountRelationMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_recharge_card_account_relation
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		account_sn,
		recharge_card_id,
		recharge_card_real_value
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{account_sn},
        #{recharge_card_id},
        #{recharge_card_real_value}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
                account_sn,
                recharge_card_id,
                recharge_card_real_value
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>

</mapper>