<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserManagerControllerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_user
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		user_id,	
		user_name,	
		mobile,	
		email,	
		password,	
		salt,	
		nickname,	
		sex,	
		birthday,	
		detail_address,	
		headimg,	
		user_money,	
		user_money_limit,	
		frozen_money,	
		pay_point,	
		rank_point,	
		reg_time,	
		reg_ip,	
		last_time,	
		last_ip,	
		mobile_supplier,	
		mobile_province,	
		mobile_city,	
		reg_from,	
		surplus_password,	
		pay_pwd_salt,	
		user_status,	
		pass_wrong_count,	
		user_type,	
		is_real,	
		user_remark
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{user_id},	
        #{user_name},	
        #{mobile},	
        #{email},	
        #{password},	
        #{salt},	
        #{nickname},	
        #{sex},	
        #{birthday},	
        #{detail_address},	
        #{headimg},	
        #{user_money},	
        #{user_money_limit},	
        #{frozen_money},	
        #{pay_point},	
        #{rank_point},	
        #{reg_time},	
        #{reg_ip},	
        #{last_time},	
        #{last_ip},	
        #{mobile_supplier},	
        #{mobile_province},	
        #{mobile_city},	
        #{reg_from},	
        #{surplus_password},	
        #{pay_pwd_salt},	
        #{user_status},	
        #{pass_wrong_count},	
        #{user_type},	
        #{is_real},	
        #{user_remark}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        user_id,	
		        user_name,	
		        mobile,	
		        email,	
		        password,	
		        salt,	
		        nickname,	
		        sex,	
		        birthday,	
		        detail_address,	
		        headimg,	
		        user_money,	
		        user_money_limit,	
		        frozen_money,	
		        pay_point,	
		        rank_point,	
		        reg_time,	
		        reg_ip,	
		        last_time,	
		        last_ip,	
		        mobile_supplier,	
		        mobile_province,	
		        mobile_city,	
		        reg_from,	
		        surplus_password,	
		        pay_pwd_salt,	
		        user_status,	
		        pass_wrong_count,	
		        user_type,	
		        is_real,	
		        user_remark	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			user_id = #{user_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			password = #{password},
			salt = #{salt},
			nickname = #{nickname},
			sex = #{sex},
			birthday = #{birthday},
			detail_address = #{detail_address},
			headimg = #{headimg},
			user_money = #{user_money},
			user_money_limit = #{user_money_limit},
			frozen_money = #{frozen_money},
			pay_point = #{pay_point},
			rank_point = #{rank_point},
			reg_ip = #{reg_ip},
			last_ip = #{last_ip},
			mobile_supplier = #{mobile_supplier},
			mobile_province = #{mobile_province},
			mobile_city = #{mobile_city},
			surplus_password = #{surplus_password},
			pay_pwd_salt = #{pay_pwd_salt},
			pass_wrong_count = #{pass_wrong_count},
			user_status = #{user_status},
			user_type = #{user_type},
			is_real = #{is_real},
			user_remark = #{user_remark}
		where 
		user_id = #{user_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			user_id = #{user_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		u.user_id,
		u.user_money,
		u.user_money_limit,
		u.user_name,
		u.mobile,
		u.nickname,
		u.reg_time,
		u.last_time,
		u_r.real_name,
		u_r.id_code,
		u.user_status,
		u.reg_from
		from 
		dl_user u
		left join dl_user_real  u_r on u_r.user_id = u.user_id 
		where 1=1 
		<if test="pd.real_name!= null and pd.real_name != ''"> 
			and u_r.real_name LIKE CONCAT(CONCAT('%', #{pd.real_name}),'%')
 		</if>
		<if test="pd.id_code!= null and pd.id_code != ''"> 
			and u_r.id_code LIKE CONCAT(CONCAT('%', #{pd.id_code}),'%')
 		</if>
<!--  		电话 -->
		<if test="pd.mobile!= null and pd.mobile != ''"> 
				and u.mobile LIKE CONCAT(CONCAT('%', #{pd.mobile}),'%')
 		</if>
<!--  		昵称 -->
		<if test="pd.nickname!= null and pd.nickname != ''"> 
				and u.nickname LIKE CONCAT(CONCAT('%', #{pd.nickname}),'%')
 		</if>
<!-- 		时间 -->
		<if test="pd.lastStart1 != null and pd.lastStart1 != ''"> 
			and  u.reg_time &gt; #{pd.lastStart1 }
		</if>
<!-- 		时间 -->
		<if test="pd.lastEnd1 != null and pd.lastEnd1!= ''"> 
			and  u.reg_time &lt; #{pd.lastEnd1 }
		</if>
<!-- 		状态 -->
		<if test="pd.user_status != null and pd.user_status != ''">
			and u.user_status = #{pd.user_status} 
		</if>
<!-- 		实名认证 -->
		<if test="pd.is_real != null and pd.is_real != ''">
			and u.is_real = #{pd.is_real} 
		</if>
		order by u.reg_time DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			user_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id="findByUserId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where user_id = #{pd.user_id}
	</select>
	<select id="findUserBonusByUserId"  parameterType="java.lang.Integer" resultType="java.lang.Double">
		SELECT
			SUM(bonus_price)
		FROM
			dl_user_bonus 
		WHERE
			user_id =  #{pd.user_id} 
			AND bonus_status = 0
	</select>
	<select id="findAll" resultType="pd" >
		SELECT
			a.user_id AS user_id,
			a.user_name AS user_name,
			a.mobile AS mobile,
			b.id_code AS id_code,
			b.real_name AS real_name 
		FROM
			dl_user a
			LEFT JOIN dl_user_real b ON a.user_id = b.user_id
	</select>
</mapper>