<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserWithdrawMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_user_withdraw
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,	
		withdrawal_sn,	
		user_id,	
		amount,	
		account_id,	
		add_time,	
		status,	
		real_name,	
		card_no,	
		pay_time,	
		payment_id,	
		bank_name
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{id},	
        #{withdrawal_sn},	
        #{user_id},	
        #{amount},	
        #{account_id},	
        #{add_time},	
        #{status},	
        #{real_name},	
        #{card_no},	
        #{pay_time},	
        #{payment_id},	
        #{bank_name}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        id,	
		        withdrawal_sn,	
		        user_id,	
		        amount,	
		        account_id,	
		        add_time,	
		        status,	
		        real_name,	
		        card_no,	
		        pay_time,	
		        payment_id,	
		        bank_name	
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			status = #{status}
		where 
		id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		SELECT
			a.*,
			u_r.id_code,
			u.mobile,
			u.user_money 
		FROM
			dl_user_withdraw a
			LEFT JOIN dl_user_real u_r ON a.user_id = u_r.user_id
			LEFT JOIN dl_user u ON a.user_id = u.user_id
		WHERE 
			id = #{id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT
			a.*,
			b.user_name,
			b.mobile,
			c.account_sn 
		FROM
			dl_user_withdraw a
			LEFT JOIN dl_user b ON b.user_id = a.user_id
			LEFT JOIN dl_user_account c ON a.withdrawal_sn = c.pay_id
		WHERE 1=1
		<if test="pd.account_sn != null and pd.account_sn != ''"> 
			and c.account_sn = #{pd.account_sn}
			LIKE CONCAT(CONCAT('%', #{pd.account_sn}),'%')
		</if>
		<if test="pd.mobile != null and pd.mobile != ''">
			and b.mobile 
			LIKE CONCAT(CONCAT('%', #{pd.mobile}),'%')
		</if>
		<if test="pd.user_name != null and pd.user_name != ''"> 
			and b.user_name  
			LIKE CONCAT(CONCAT('%', #{pd.user_name}),'%')
		</if>
		<if test="pd.status != null and pd.status != ''"> 
			and a.status = #{pd.status }
		</if>
		<if test="pd.lastStart1 != null and pd.lastStart1 != ''"> 
			and a.pay_time &gt; #{pd.lastStart1 }
		</if>
		<if test="pd.lastEnd1 != null and pd.lastEnd1 != ''"> 
			and a.pay_time &lt; #{pd.lastEnd1 }
		</if>
		order by  pay_time DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>