<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WorldCupManagerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		dl_world_cup_reward_pool
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,	
		prize,	
		quota,	
		people_num,	
		average,	
		audit_time,	
		auditor,	
		auditor_id,
		prize_value,
		status
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
        #{id},	
        #{prize},	
        #{quota},	
        #{people_num},	
        #{average},	
        #{audit_time},	
        #{auditor},	
        #{auditor_id},	
        #{prize_value},	
        #{status}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		        id,	
		        prize,	
		        quota,	
		        people_num,	
		        average,	
		        audit_time,	
		        auditor,	
		        auditor_id	,
		        prize_value,
		        status
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			status = #{status},
			auditor_id = #{auditor_id},
			auditor = #{auditor},
			audit_time = #{audit_time},
			average = #{average},
			people_num = #{people_num}
		where 
		id = #{id}
	</update>
	
	<!-- 修改 -->
	<update id="updateWorldUserPlanStatusAndAmount" parameterType="pd">
		update
			dl_world_cup_plan
			 <trim prefix="set" suffixOverrides=",">
				<if test="status_16 != null and status_16 != ''" >status_16 = #{status_16},</if>
				<if test="reward_amount_16 != null and reward_amount_16 != ''" >reward_amount_16 = #{reward_amount_16},</if>
				<if test="status_8 != null and status_8 != ''" >status_8 = #{status_8},</if>
				<if test="reward_amount_8 != null and reward_amount_8 != ''" >reward_amount_8 = #{reward_amount_8},</if>
				<if test="status_4 != null and status_4 != ''" >status_4 = #{status_4},</if>
				<if test="reward_amount_4 != null and reward_amount_4 != ''" >reward_amount_4 = #{reward_amount_4},</if>
				<if test="status_gyj != null and status_gyj != ''" >status_gyj = #{status_gyj},</if>
				<if test="reward_amount_gyj != null and reward_amount_gyj != ''" >reward_amount_gyj = #{reward_amount_gyj},</if>
				<if test="status_gj != null and status_gj != ''" >status_gj = #{status_gj},</if>
				<if test="reward_amount_gj != null and reward_amount_gj != ''" >reward_amount_gj = #{reward_amount_gj},</if>
				<if test="status_all_true != null and status_all_true != ''" >status_all_true = #{status_all_true},</if>
				<if test="reward_amount_all_true != null and reward_amount_all_true != ''" >reward_amount_all_true = #{reward_amount_all_true},</if>
				<if test="is_open != null and is_open != ''" >is_open = #{is_open},</if>
			 </trim>
		where 
			id = #{id}
	</update>
	<update id="updateWorldUserPlanRewardTime" parameterType="pd">
		update
			dl_world_cup_plan
			 <trim prefix="set" suffixOverrides=",">
				<if test="reward_time_16 != null and reward_time_16 != ''" >reward_time_16 = #{reward_time_16},</if>
				<if test="reward_time_8 != null and reward_time_8 != ''" >reward_time_8 = #{reward_time_8},</if>
				<if test="reward_time_4 != null and reward_time_4 != ''" >reward_time_4 = #{reward_time_4},</if>
				<if test="reward_time_gyj != null and reward_time_gyj != ''" >reward_time_gyj = #{reward_time_gyj},</if>
				<if test="reward_time_gj != null and reward_time_gj != ''" >reward_time_gj = #{reward_time_gj},</if>
				<if test="reward_time_all_true != null and reward_time_all_true != ''" >reward_time_all_true = #{reward_time_all_true},</if>
			 </trim>
		where 
			id = #{id}
	</update>
	<update id="updateWorldUserRewadAccountTimeAndStatus" parameterType="pd">
		update
			  dl_world_cup_user_reward_account 
	  	set
		  	status = #{status},
		  	reward_time = #{reward_time} 
		where 
			id = #{id}
	</update>
	
	<update id="updateRewardPoolStatus" parameterType="pd">
		update
			  dl_world_cup_reward_pool 
	  	set
		  	status = #{status}
		where 
			id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			id = #{id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	<select id="findPeopleNumByStatus"  parameterType="pd"  resultType="Integer">
		SELECT
			count( * ) AS people_num 
		FROM
			dl_world_cup_plan 
		WHERE
			1 = 1 
		<if test="prize_value !=null and prize_value == '16'.toString()"> 
			AND status_16 = 1 
		</if>
		<if test="prize_value == '8'.toString()"> 
			AND status_8 = 1 
		</if>
		<if test="prize_value == '4'.toString()"> 
			AND status_4 = 1 
		</if>
		<if test="prize_value == '2'.toString()"> 
			AND status_gyj = 1 
		</if>
		<if test="prize_value == '1'.toString()"> 
			AND status_gj = 1
		</if>
		<if test="prize_value == '0'.toString()"> 
			AND status_16 = 1 
			AND status_8 = 1 
			AND status_4 = 1 
			AND status_gyj = 1 
			AND status_gj = 1
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id = "findWorldCupUserPlan" resultType="pd">
		select * from dl_world_cup_plan
	</select>
<!-- 	插入 -->
	<insert id="addWcUserRewardAccount"  parameterType="pd">
	insert  into  
		dl_world_cup_user_reward_account (
			id,
			wc_plan_id,
			reward_sn,
			amount,
			status	,
			reward_time,
			remark,
			prize_value,
			user_id
		)values (
			#{id},
			#{wc_plan_id},
			#{reward_sn},
			#{amount},
			#{status},
			#{reward_time},
			#{remark},
			#{prize_value},
			#{user_id}
		)
	</insert>
	
	<select id="findUserRewardAccountByPrizeValue" parameterType="pd" resultType="pd"> 
		select
			* 
		from
			dl_world_cup_user_reward_account
		where 
			prize_value = #{prize_value}
	</select>
	
	<update id="updateAllIsOpen">
		update dl_world_cup_plan set is_open = 1;
	</update>
</mapper>